
    
  <%= render partial: "header" %>
  <div class="container sections-wrapper">
    <div class="row">
      
      Ops
      
    </div><!--//row-->
  </div><!--//masonry-->
    
  <!-- ******FOOTER****** --> 
  <footer class="footer">
      <div class="container text-center">
              <small class="copyright">By Portifólio Online - 2016</small>
      </div><!--//container-->
  </footer><!--//footer-->

    
